
.wrapper {
  display: block;
  margin:7em auto;
  border: 1px solid gray;
  width: 650px;
  height: 350px;
  position: relative;
    float: left;
    margin-left: 3em;
    
}

body {
  margin: 0;
  overflow: hidden;
  background: #152B39;
  font-family: Courier, monospace;
  font-size: 14px;
  color: #ccc; 
}


#sentiment{
    position: relative;
    border: 1px solid gray;
    width: 31em;
    height: 30em;
    float: right;
    margin:7em auto;
    margin-right: 4em;
    background-color: lightyellow

}

.sentiment-text{
    text-align: center;
    font-family: Pacifico;
}

.sentiment-text2{
    text-align: left;
    padding-left: 1em;
    font-size: 16px;
    font-family: Pacifico;
    
}
